
.about-video
	width: 555px
	margin-top: 32px
	background-image: url(../video/video.png)
	background-repeat: no-repeat 
	background-size: 100% 100%
	transform: scaleY(1.17)
.about
	padding: 7.6rem 0
	&-title
		margin-bottom: 5.5rem
	&-descr
		margin-left: -15px
		&_text
			margin: 0 
			font-size: 1.8rem
			font-weight: 300
			line-height: 28px
			color: $text-color-semi
			&-1
				margin-bottom: 9px
			&-2
				margin-bottom: 24px
		&_logo
			margin-right: 29px
			position: relative
			margin: 0 
			max-width: 263px
			width: 100%
			display: inline-block
			vertical-align: middle
			img
				margin-left: 17px 
				z-index: 2 
			&__img-1
				&::before
					content: ''
					width: 263px
					height: 51px
					position: absolute
					bottom: 32px
					background-color: #1c8fd4
					border-radius: 5px
					z-index: -1
			&__img-2
				&::before
					content: ''
					width: 263px
					height: 51px
					position: absolute
					bottom: 32px
					background-color: #7e66e7
					border-radius: 5px
					z-index: -1
				
			&__text
				margin-left: 18px
				margin-top: 5px
				font-size: 1.8rem
				font-weight: 700
				color: $text-color-dark

@media (max-width: 1200px)
	.about-video
		display: block
		margin: 0 auto
		transform: none 

	.about
		&-descr
			margin-left: 0
			margin-bottom: 3rem
			p
				text-align: center

@media (max-width: 992px)
	.about
		&-descr
			&_logo
				text-align: center
				&__img-1
					&::before
						width: 200px
						left: 42px
				&__text
					font-size: 1.6rem 
				&__img-2 
					&::before
						width: 200px
						left: 42px
				&__text
					font-size: 1.6rem

@media (max-width: 768px)
	.about-video
		width: 400px
		height: 242px
	.about
		padding-top: 4rem
		padding-bottom: 4rem
		&-descr
			&_logo
				img
					margin: 0 auto
				&__img-1
					&::before
						left: 20px 

				&__img-2
					&::before
						left: 20px
				&__text
					margin-left: 0

@media (max-width: 576px)
	.about-video
		width: 290px
		height: 175px
	.about
		&-title
			margin-bottom: 3.5rem 
		&-descr
			p
				font-size: 14px
			.row
				margin: 0
				max-width: 100%
			&_logo
				&__img-1
					&::before
						display: none
				&__img-2
					&::before
						display: none


